body {
	background-image: url("../../assets/images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px 8%;
}

.PageHeader {
	color: green;
	font-size: 100px;
	margin: 10px;
}

.PageText {
	color: white;
}